.price {
    padding-top: 60px;
    background-color: #dbd5d5ec;
    &__wrapper {
        padding: 0 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 366px);
        grid-template-rows: repeat(3, minmax(44, auto));
        grid-auto-rows: minmax(44, auto);
        justify-content: space-between;
        row-gap: 15px;
        margin-top: 60px;
    }
    &__item {
        width: 352px;
        height: 44px;
        display: grid;
        grid-template-columns: repeat(2, minmax(104px, auto));
        grid-template-rows: repeat(2, minmax(18px, auto));
        justify-content: space-between;
        align-content: space-between;
    }
    &__subtitle {
        position: relative;
        margin-left: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        &:before {
            content: '';
            position: absolute;
            left: -25px;
            top: 3px;
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
        }
    }
    &__numbers {
        
        justify-self: end;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__text {
        margin-left: 25px;
        grid-column: 1 / 3;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}